<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <header>
        HEADER
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        FOOTER
    </footer>

    <script src="{% static 'js/main.js' %}" defer></script>
</body>
</html>
